@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background-color: #221F26;
  color:#ffff;
}
.bgColor{
  background-color: #221F26;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flexBetween{
    @apply flex items-center justify-between;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .max-container {
    @apply mx-auto max-w-[1440px];
  }
  .padding-container {
    @apply px-6 lg:px-20 xl:px-0;
  }
  .regular-14 {
    @apply text-[14px] font-[400];
  }
  .regular-16 {
    @apply text-[16px] font-[400];
  }
  .regular-24 {
    @apply text-[24px] font-[400];
  }
  .underNavSpace{
    @apply mt-[150px]  md:mt-[250px]
  }

  .buttonUI{
    @apply tracking-wider regular-14 bg-amber-600 rounded-lg p-2;
  }

  .weightButtons{
    @apply border inline-block pl-4 pr-4
  }

  .footerBoxes{
    @apply flex-1 flex flex-col items-center leading-7 text-xs tracking-wide sm:flex-col
  }
  .footerHText{
    @apply
      text-sm md:text-lg p-5 mt-5
    
  }
  
  
}
